.headerpic {
    font-weight: lighter;
    height: 228px;
    width: 400px;
    border-style: groove;
    border-radius: 36px;
}

img {
    height: 280px;
    width: 500px;
    margin: 5px 5px 5px 5px;
    border-style: groove;
    border-radius: 18px;
    border-color: transparent;
    transition: border-color 0.15s;
}

img:hover{
    border-color: whitesmoke;
}

body {
    background-attachment: fixed;
    text-align: center;
    color: white;
}



p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.titletext {
    font-size: 100px;
}

.footertext {
    font-family:'Times New Roman', Times, serif;
    justify-content: baseline;
    font-style: normal;
    font-weight: bold;
    font-size: smaller;
    margin: 15px 15px 15px 15px;
    width: 400px;
}

.menu-content{
    margin: 5px 5px 5px 5px;
    opacity: 0.8;
}


.menu-content a{
    padding: 6px 24px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    transition: box-shadow 0.15s;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.menu-content a:hover{
    box-shadow:  0px 2px 2px 2px rgb(86, 86, 88);
    transform: translateY(-2px);
}

#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px; 
    background-color: transparent; 
  }

#progress-bar {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%; 
   background-color: #b4c0e9; 
 }