.headerpic {
    font-weight: lighter;
    height: 228px;
    width: 400px;
    border-style: groove;
    border-radius: 36px;
}

img {
    height: 330px;
    width: 600px;
    margin: 5px 5px 5px 5px;
    border-style: groove;
    border-radius: 18px;
    border-color: transparent;
    transition: border-color 0.15s;
}

img:hover{
    border-color: whitesmoke;
}

body {
    background-attachment: fixed;
    text-align: center;
    color: white;
    background-position: center;
}



#search-bar-content input{
    border: solid 1px transparent;
    font-family: 'Poppins', sans-serif;
    padding: 10px 200px 10px 200px;
    margin: 7px;
    font-size: 16px;
    border-radius: 20px;
    color: black;
    background-color: white;
}


#search-bar-content input:focus{
    outline: none;
}

#search-results{

}



p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.titletext {
    font-size: 100px;
}



.menu-content{
    margin: 5px 5px 5px 5px;
    opacity: 0.8;
}


.menu-content a{
    padding: 6px 24px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    transition: box-shadow 0.15s;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 7px;
}

.menu-content a:hover{
    box-shadow:  0px 2px 2px 2px rgb(86, 86, 88);
    transform: translateY(-2px);
}

#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px; 
    background-color: transparent; 
  }

#progress-bar {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%; 
   background-color: #b4c0e9; 
 }

 